@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0%,
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
  33% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 9s infinite;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}
